body {
  background-color: #6D8B74;
  color: #D0C9C0;
}

h1, h3 {
  color: #EFEAD8;
}

hr {
  border-style: none;
  border-top-style: solid;
  border-color: #000;
  border-width: 5px;
  /* width: 95%; */
}
